<!-- Author: Vaghula Krishnan-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title><%=title%></title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
<div class="container" >
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hi, welcome!</h1>
        <form name="login_direct" action="/" method="post">
        <center><p><input type="submit" class="btn btn-primary btn-lg" value="Login in &raquo;" /></p><center>
        </form>
      </div>
    </div>


      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>

  </body>
</html>
